<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Objectifs</h2>
<div class="summary">
    <p>“Sortant de la partie théorique d'une formation en developpement web, le Certificat Professionel CP09 au CNAM Lorraine. 
J'aimerais acquérir de l'expérience dans ce domaine pour en faire mon métier, c'est pour cela que je suis à la recherche d'un stage non rémunéré de 3 mois avec pour objectif de participer à la création d'un site Web pour pouvoir compléter la partie pratique de ma formation et ainsi la valider.”</p>
</div><!--//summary-->
</section><!--//section-->