<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Formations</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Certificat Professionnel Programmation de sites web</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CNAM Lorraine, Nancy</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>J'y ai appris comment créer un site web simple et responsive en HTML/CSS, j'ai aussi étudié l'installation et l'administration d'un serveur web (essentiellement avec MAMP). J'ai également eu des cours de graphisme notamment sur le design responsive ainsi que la création d'une charte graphique. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Baccalauréat Technologique STI</h3>
                            <div class="time">2010 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Lycée H. Vogt, Commercy, Lorraine</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Série Génie Mécanique, option Productique Mécanique.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->