<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Expériences</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
               
                <div class="item">
                    <span class="project-title"><a >Graphiste - Freelance</a></span> - 
                    <span class="project-tagline">Ma première expérience en graphisme en dehors du web, mise en contact par une connaissance, j'ai réalisé la commande de ma cliente en suivant ses idées et en réagissant efficacement à ses remarques. </span>
                </div><!--//item-->
                <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">Portfolio Photo</a></h3>
                                <p class="summary">Projet de fin de formation CP09 - Programmation de Site Web - CNAM Lorraine</p>
                                <div class="featured-image">
                                    <!--<a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">-->
                                    <img class="img-responsive project-image" src="assets/images/travaux/portfolio/Capture1.PNG" alt="project name" />
                                    <img class="img-responsive project-image" src="assets/images/travaux/portfolio/Capture2.PNG" alt="project name" />
                                    <img class="img-responsive project-image" src="assets/images/travaux/portfolio/Capture3.PNG" alt="project name" />
                                    <img class="img-responsive project-image" src="assets/images/travaux/portfolio/Capture4.PNG" alt="project name" />
                                    <img class="img-responsive project-image" src="assets/images/travaux/portfolio/Capture5.PNG" alt="project name" />
                                </div>

                                <div class="desc text-left">
                                    <p>Ce portfolio photo est le projet que je devais rendre à la fin de formation au CNAM. Il est responsive et utilise une base de données SQL pour pouvoir créer un compte/se connecter.</p>
                                    <p>Le fait de se connecter permet d'accéder à un album en plus. Et il utilise également du PHP pour la partie contact.</p>
                                </div>
                                <!--//desc-->
                                <a class="btn btn-cta-secondary" href="#"><i class="fa fa-thumbs-o-up"></i> Retour en haut de page !</a>
                            </div>
                <div class="item">
                    <span class="project-title"><a >Graphiste - Freelance</a></span> - 
                    <span class="project-tagline">Ma première expérience en graphisme en dehors du web, mise en contact par une connaissance, j'ai réalisé la commande de ma cliente en suivant ses idées et en réagissant efficacement à ses remarques. </span>
                </div><!--//item-->
                             <div class="item featured text-center">
                                <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">Carte de Visite & Flyer - Hatha Yoga Sentiers</a></h3>
                                <p class="summary">Commande pour une connaissance, Professeure de Yoga.</p>
                                <div class="featured-image">
                                    <!--<a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">-->
                                    <img class="img-responsive project-image" src="assets/images/travaux/yoga/cdvrecto.png" alt="project name" style="width:50%; margin-left: auto; margin-right: auto"/>
                                    <img class="img-responsive project-image" src="assets/images/travaux/yoga/cdvverso.png" alt="project name" style="width:50%; margin-left: auto; margin-right: auto"/>
                                    <img class="img-responsive project-image" src="assets/images/travaux/yoga/flyerrecto2.png" alt="project name" style="width:50%; margin-left: auto; margin-right: auto"/>
                                    <img class="img-responsive project-image" src="assets/images/travaux/yoga/flyerverso2.png" alt="project name" style="width:50%; margin-left: auto; margin-right: auto"/>
                                </div>

                               <!-- <div class="desc text-left">
                                    <p>Ce portfolio photo est le projet que je devais rendre à la fin de formation au CNAM. Il est responsive et utilise une base de données SQL pour pouvoir créer un compte/se connecter.</p>
                                    <p>Le fait de se connecter permet d'accéder à un album en plus. Et il utilise également du PHP pour la partie contact.</p>
                                </div>-->
                                <!--//desc-->
                                <a class="btn btn-cta-secondary" href="#"><i class="fa fa-thumbs-o-up"></i> Retour en haut de page !</a>
                            </div>
                        </div>
            </section><!--//section-->