<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Expériences</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
               
                <div class="item">
                    <span class="project-title"><a >Graphiste - Freelance</a></span> - 
                    <span class="project-tagline">Ma première expérience en graphisme en dehors du web, mise en contact par une connaissance, j'ai réalisé la commande de ma cliente en suivant ses idées et en réagissant efficacement à ses remarques. </span>
                </div><!--//item-->
            </section><!--//section-->